@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixin' as *;

.dashboard {

    &__header {
        display: flex;
        margin: 2rem 0 0 0;
    }

    &__header-texts {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }


    &__header-text {
        margin: 0 0 5px;
    }

    &__header-userName {
        margin: 0;
    }

    &__avatar-container {
        position: relative;
        bottom: 10px;
    }

    &__image-container {
        border-radius: 100%;
        height: 60px;
        width: 60px;
        border: 2px solid $secondary;
        display: flex;
        overflow: hidden;
        margin-right: 10px;
    }

    &__logout-button {
        background: none;
        border: none;
        cursor: pointer;
        color: $Ink;

        &:hover {
            color: $DarkInk;
        }
    }

    &__add-button {
        border: none;
        border-radius: 10px;
        background-color: $primary;
        color: white;
        cursor: pointer;
        width: 60px;
        height: 60px;
        font-size: 13px;
        position: relative;
        bottom: 5px;

        &:hover {
            background-color: $primary-hover;
        }
    }

    &__search-bar {
        position: relative;
        margin: 0;
      }
    
      &__search-input {
          margin: 0;
          padding: 0 0 0 1rem;
          width: 100%;
          box-sizing: border-box;
          height: 56px;
          border: 1px solid $border;
          background-color: $background-white;
          border-radius: 12px;
          font-size: 13px;
          font-family: "Rubik";
    
            &:focus {
                outline: none;
                border: 1px solid $secondary;
                background-color: white;
            }
        }
    
      &__search-icon {
          position: absolute;
          right: 1rem;
          bottom: 15px;
      }

      &__job-applications {
          margin: 2rem 0;

          @include tablet {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
          }
      }

      &__job-application {
          border: 2px solid $card-border;
          height: 200px;
          width: 100%;
          border-radius: 8px;
          box-sizing: border-box;
          background-color: $card-background;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 1rem;

          &:hover {
              border: 2px solid $primary;
          }

          @include tablet {
              width: 48%;
          }
      }
      &__job-header {
          margin: 1rem;
      }

      &__job-header-text {
          margin: 0;
          color: $DarkInk;
       
      }

      &__job-body {
          height: 165px;
          
          background-color: white;
          padding: 0 1rem;
      }

      &__job-date {
          color: $success;
          margin: 0.5rem 0;
      }

      &__job-company {
          margin: 0.5rem 0;
      }

      &__job-actions {
          display: flex;
          justify-content: space-between;
      }

      &__job-details {
        border: none;
        border-radius: 16px;
        background-color: $secondary;
        color: white;
        cursor: pointer;
        width: 55px;
        height: 30px;
        font-size: 12px;
        position: relative;
        bottom: 5px;

        &:hover {
            background-color: $secondary-hover;
        }
      }

      &__delete {
        border: none;
        border-radius: 10px;
        background-color: $primary;
        color: white;
        cursor: pointer;
        width: 55px;
        height: 30px;
        font-size: 12px;
        position: relative;
        bottom: 5px;
        margin-left: 4px;

        &:hover {
            background-color: $primary-hover;
        }
      }

      &__edit {
        border: 2px solid $card-border;
        border-radius: 10px;
        background-color: white;
        color: $DarkInk;
        cursor: pointer;
        width: 40px;
        height: 30px;
        font-size: 12px;
        position: relative;
        bottom: 5px;

        &:hover {
            border: 2px solid $primary;
        }
      }

      &__no-job-image {
          width: 100%;
      }

      &__no-job-text {
          color: $DarkInk;
          text-align: center;
          margin: 0 2rem;
      }
}

.delete-modal {

    &__button-delete {
        border-radius: 10px;
    }

    &__button-close {
        border-radius: 10px;
        background-color: white;
        color: $DarkInk;
        border: 2px solid $card-border;

        &:hover, &:focus {
            color: $DarkInk;
            background-color: white;
            border: 2px solid $secondary;
        }

        &:active:after {
            background-color: none;
        }
    }
}