// regular
@font-face {
    font-family: "Rubik";
    src: url("../../assets/fonts/Rubik-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

// medium
@font-face {
    font-family: "Rubik";
    src: url("../../assets/fonts/Rubik-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

// bold
@font-face {
    font-family: "Rubik";
    src: url("../../assets/fonts/Rubik-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: -1px;
}

h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -1px;
}

h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.5px;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
}

.button-small {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    font-family: 'Rubik';
}

.button-medium {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    font-family: 'Rubik';
}

//dashboard
.dashboard {

    &__job-date {
        font-weight: 500;
        font-size: 12px;
    }

    &__job-header-text {
        font-size: 16px;
    }
}


