//colors
$Ink: #78746D;
$background-white: #fbfbfb;
$DarkInk: #3C3A36;
$background: #EDDFBC;
$secondary: #65AAEA;
$primary: #E3562A;
$primary-hover: #81321a;
$border: rgb(218, 212, 212);
$card-border: #BEBAB3;
$card-background: #F8F2EE;
$success: #5BA092;
$failure: #e3302a;
$secondary-hover: #3b648a;