@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixin' as *;

.jobDetails {

    &__title {
        position: relative;
        right: 15px;
    }

    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    &__company {
        margin-bottom: 5px;
        text-align: center;
    }

    &__position {
        color: $DarkInk;
        text-align: center;
        margin-bottom: 8px;
    }

    &__navigation {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &__navigate-box {
        text-align: center;
        padding: 10px 15px;
        background-color: $card-background;
        width: 25%;
        height: 42px;
        cursor: pointer;
        font-weight: 400;
        font-size: 14px;
        color: $Ink;

        &:hover {
            background-color: #e3c2ae;
        }
    }

    &__description-title {
        border-radius: 14px 0 0 14px;
        margin-right: 4px;
      
    }

    &__contact-title {
        margin-right: 4px;
    }

    &__resume-title {
        border-radius: 0 14px 14px 0;
        margin-left: 4px
    }
}

.box-active {
    font-weight: 500;
    color: $DarkInk;
}
//jobContact 

.jobContact {
    display: flex;
    flex-direction: column;

    justify-content: center;

}

// jobInfo
.jobInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__image-container {
        margin: 10px 0;
    }

    &__hero-image {
        width: 100%;
    }

    &__description-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__description-texts {
        color: $DarkInk;
    }

    &__edit {
        border: 2px solid $card-border;
        border-radius: 10px;
        background-color: white;
        color: $DarkInk;
        cursor: pointer;
        width: 40px;
        height: 30px;
        font-size: 12px;
        position: relative;
        bottom: 5px;

        &:hover {
            border: 2px solid $primary;
        }
    }

    &__description-texts {
        text-align: justify;
    }
}

//roadmap
.roadmap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    &__image-container {
        margin: 30px 0 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }


    &__texts {
        text-align: center;
        color: $DarkInk;
    }
}

//jobResume 
.jobResume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__image-container {
        margin-top: 15px;
    }

    &__image {
        width: 100%;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__upload {
        display: none;
    }

    &__form-submit {
        border-radius: 10px;
        background-color: $secondary;
        color: white;
        cursor: pointer;
        width: 70px;
        height: 30px;
        font-size: 13px;
        font-weight: 500;
        border: none;

        &:hover, &:focus {
            background-color: #8496ad;
        }
    }

    &__file-name {
        color: $DarkInk;
        margin-bottom: 8px;
    }

    &__current-resume {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        height: 70px;
        width: auto;
        padding: 0 10px;
        border: 2px solid $card-border;
        margin-top: 15px;

    }

    &__current-resume-text {
        font-weight: 500;
        margin-bottom: 5px;
    }

    &__currrent-link {
        color: $success;
    }

}

label#upload-label {
    border-radius: 10px;
    padding: 5px;
    width: 180px;
    height: 35px;
    text-align: center;
    background-color: $primary;
    color: white;
    cursor: pointer;
    margin-top: 15px;

    &:hover, &:focus {
        background-color: $primary-hover;
    }

    &:active:after {
        background-color: none;
    }

}