@use './partials/mixin' as *;
@use './partials/typography' as *;
@use './partials/variables' as *;
@import "~bootstrap/scss/bootstrap";

body {
    margin: 0;
    font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fbfbfb;
    padding: 0 16px 2rem 16px;

    @include tablet {
      padding: 0 24px;
    }

    @include desktop {
      padding: 0 130px;
    }
}

.app {
  background-color: #fbfbfb;
}

//global header for each page 
.global {
    &__back-button {
      height: 40px;
      width: 40px;
      border: 1px solid $card-border;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
          border: 1px solid $primary;
      }
  }

  &__header {
      display: flex;
      align-items: center;
      margin: 1rem 0;
  }

  &__title {
      margin: 0;
      width: 100%;
      text-align: center;
  }
}

//modal styling

.modal {

  &__button-primary {
      border-radius: 10px;
  }

  &__button-secondary {
      border-radius: 10px;
      background-color: white;
      color: $DarkInk;
      border: 2px solid $card-border;

      &:hover, &:focus {
          color: $DarkInk;
          background-color: white;
          border: 2px solid $secondary;
      }

      &:active:after {
          background-color: none;
      }
  }
}

.jobContact {

  &__label {
    font-weight: 500;
    color: $Ink;
  }

  &__body {
    margin-left: 10%;
  }

  &__info {
    display: flex;
  }
  
  &__label {
    margin-right: 10px;
  }
}


  